#tabsOuterDiv{
   border: 1px solid blue;
   border-radius: 3px;
   height: 600px;
   width: 100%;
   overflow-x: scroll;
   overflow-y: scroll;
   }

#igvDiv{
   border: 1px solid blue;
   border-radius: 3px;
   height: 820px;
   width: 100%;
   }

#cyjsTab{
   padding: 1px;
   }

#cyjsDiv{
   border: 1px solid purple;
   border-radius: 3px;
   height: 720px;
   width: 100%;
   }

#cyMenubarDiv{
  margin: 2px;
  border: 1px solid #aaa;
  border-radius: 5px;
  }

.cyMenuButton{
  margin-left: 6px;
  margin-bottom: 6px;
  margin-top: 8px;
  background-color: #E8E8E8;
  }
